html, body{
    margin:0;
    padding:0;
}
td{
    vertical-align: middle;
 }
 ul.nav li a{
    font-size: 1.2em;
    font-family: 'Allerta', sans-serif;
    color: black;
    padding-top: 5px;
 }
 ul.nav li a:hover{
    color: red;
 }
 
 .navbar{
    z-index: 100;
    padding: 0;
    height: 70px;
    float: left;
    font-family: 'Allerta', sans-serif;
}
ul.nav li a.btn-outline-oda{
    color: #00abe3;
    background-color: transparent;
    background-image: none;
    border-color: #00abe3;
    margin: 0 20px;
 }
 ul.nav li a.btn-outline-oda:hover{
     color: white;
     background-color: #00abe3;
     border-color: #0080aa; 
 }
 ul.nav li a.btn-outline-oda:focus{
     color: white;
     background-color: #0080aa;
     border-color: #0080aa; 
 }
 a.btn-block{
     height: inherit;
     padding-top: 22px;
 }
 #navLogo{
    position: fixed;
    left: 20px;
    top: 0;
    z-index: 10000;
    width: 8%;
 }
 #navContent .navbar-nav .nav-link{
    color: #001739;
    text-align: center;
 }
 #navContent .navbar-nav .nav-link:hover{
    color: #f04950;
 }
 #navContent .navbar-nav .nav-link:focus{
    color: #b1151b;
 }
 #takeAction{
    height:70px;
    font-family: 'Allerta Stencil', sans-serif;
}
#takeAction a.btn.btn-danger{
    border-radius:0px;
    background-color:#ec1c24;
}
#takeAction a.btn.btn-danger:hover{
    background-color: #f04950;
    color: black;
}
#takeAction a.btn.btn-danger:focus{
    background-color: #b1151b;
}
 #navigation{
    margin: 0px;
 }

 #footer{
    margin-bottom: 0px;
    padding: 30px 30px 40px 30px;
    color: white;
}
#footer h3{
    padding: 5px;
}
#footer h5{
    font-family: 'Allerta Stencil', sans-serif;
    padding-top: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
#footer a:hover{
    text-decoration: none;
    color: #33bce9;
}
i.fab.fa-facebook-f, i.fab.fa-twitter, i.fab.fa-youtube{
    font-size: 1.6em;
}
i.fas.fa-phone-square, i.fas.fa-desktop{
    font-size: 1.3em;
    margin-bottom: 10px;
}
.line{
        width:100%;
        height:200px;
        background: linear-gradient(to right, transparent 0%, 
                                      transparent calc(50% - 0.81px), 
                                      white calc(50% - 0.8px), 
                                      white calc(50% + 0.8px), 
                                      transparent calc(50% + 0.81px), 
                                      transparent 100%); 
} 
/* custom style */
.nav-header{
    color:lightblue;
    
}

h1{
    font-family: 'Allerta Stencil', sans-serif;
}

h3{
    font-family: 'Allerta', sans-serif;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
}

.nav nav-pills flex-column flex-sm-row{
    font-size:50px;
}

.border-primary{
    border-width:50px;
}

.container, first-paragraph {
    margin:10px auto;
}

.col-md-4, figure-caption, text-justify{
    margin: 10px;
}

.container{
    margin:40px 50px 20px;
}

.sub-nav{
    font-size:20px;
    margin:30px;
}

.container, right-image{
    margin:80px 200px;
}

.col-md-5{
    margin:50px 400px;
}

.font-weight-bold{
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
}

.four-paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    margin:20px;
}

.diver-form{	
    margin: 0 auto;
	width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
}
.form-check-label{
    font-size:13px;
}