
/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    height:100%;
}

/* global */

.container{
    width:100%;
}

li {
    margin:1;
}

.lead{
    color:red;
}

#wrapper {
    position: relative;
}
#wrapper div, #wrapper video {
    position: absolute;
    top: 0;
} 


/* custom style */
.nav-header{
    color:lightblue;
    
}

h1{
    font-family: 'Allerta Stencil', sans-serif;
}

.nav nav-pills flex-column flex-sm-row{
    font-size:50px;
}

.border-primary{
    border-width:50px;
}

.figcaption{
    
}


