
/* reset */
/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body{
    height:100%;
} */

/* global */


td{
    vertical-align: middle;
 }
 ul.nav li a{
    font-size: 1.2em;
    font-family: 'Allerta', sans-serif;
    color: black;
    padding-top: 5px;
    padding-bottom: 0px;
 }
 ul.nav li a:hover{
    color: red;
 }
 
 .navbar{
    /* position: sticky;
    top: 10px;*/
    padding: 0;
    /* width: 85%; */
    height: 50px;
    float: left;
    background-color: white;
    font-family: 'Allerta', sans-serif;
 }
 .btn-outline-oda{
   color: #00abe3;
   background-color: transparent;
   background-image: none;
   border-color: #00abe3;
   margin: 0 20px;
 }
 .btn-outline-oda:hover{
    color: white;
    background-color: #00abe3;
    border-color: #0080aa; 
 }
 .btn-outline-oda:focus{
    color: white;
    background-color: #0080aa;
    border-color: #0080aa; 
 }
 .btn-block{
    height: 100%;
 }
 #navLogo{
    position: fixed;
    left: 20px;
    top: 0;
    z-index: 10000;
    width: 8%;
 }
 #navContent .navbar-nav .nav-link{
    color: #001739;
    text-align: center;
 }
 #navContent .navbar-nav .nav-link:hover{
    color: #f04950;
 }
 #navContent .navbar-nav .nav-link:focus{
    color: #b1151b;
 }
 #takeAction{
    font-family: 'Allerta Stencil', sans-serif;
 }
 #takeAction button.btn-danger{
    background-color:#ec1c24;
 }
 #takeAction button.btn-danger:hover{
    background-color: #f04950;
 }
 #takeAction button.btn-danger:focus{
    background-color: #b1151b;
 }
 #navigation{
    margin: 0px;
 }
/* custom style */
.nav-header{
    color:lightblue;
    
}

h1{
    font-family: 'Allerta Stencil', sans-serif;
}

h3{
    font-family: 'Allerta', sans-serif;
}

h5{
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
}

.nav nav-pills flex-column flex-sm-row{
    font-size:50px;
}

.border-primary{
    border-width:50px;
}


.col-md-4, figure-caption, text-justify{
    margin: 10px;
}

.container{
    margin: 5% auto 5% auto;
}

.sub-nav{
    font-size:20px;
    margin:30px;
}

.col-md-5{
    margin:50px 400px;
}

.font-weight-bold{
    font-family: 'Open Sans', sans-serif;
    font-size:22px;
}

.four-paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
    margin:20px;
}

.diver-form{	
    margin: 0 auto;
	width: 50%;
    font-family: 'Open Sans', sans-serif;
    font-size:17px;
}
.form-check-label{
    font-size:13px;
}

.img-size{
    width: 600px;
    height: auto;
}

.our-solutions{
    margin: 5% auto 5% auto;
    color: #ffffff;
    background-color: #001739;
    padding: 10px 0 10px 0;
   
}

.card-right{
    
    margin-left: 60px;
    
}

.card-title{
    text-align: center;
}

.btn-primary{
    margin: 0 35% 0 35%; 
}

#carouselInfographic{
    margin: 5% auto 0% auto;

}

